<div class = "page-header">
  <div class = "pull-right">
    <%= link_to 'New Location', new_location_path, class: "btn btn-info" %>
  </div>
  <h1>Locations</h1>
</div>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zipcode</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.address %></td>
        <td><%= location.zipcode %></td>
        <td class = "text-right">
          <%= link_to 'Delete', location, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_location_path(location), class: "btn btn-info" %>
          <%= link_to 'Create Event', new_location_event_path(location), class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
